<html>

<head>
    Practice DATA
</head>

<body>
    <h3>Student Detail</h3>

    <form action="/get_data" method="POST">
        Name:
        <input type="text" name="name"> <br> <br>
        roll_no:
        <input type="text" name="roll_no"> <br> <br> 

        <input type="submit">

    </form>
    <!-- ########### -->

    <!-- <form action="/get_data" method="GET">  <!--dose't work on get method -->
        <!--Name:
        <input type="text" name="name"> <br> <br>
        roll_no:
        <input type="text" name="roll_no"> <br> <br>

        <input type="submit">-->

    </form>

</body>


</html>